@media screen and (max-width: 1900px) {
    header,footer,.content {margin-left: auto;
                            margin-right: auto;
                            width: 90%;
                            /*border:4px solid brown;*/
                            margin: 0 auto;}
    .right {  width:310px;  
              float: left;
              /*border:1px solid yellowgreen;*/
              display: inline;}
    .left {
        width: 900px;
        width: -moz-calc(100% - 320px);
        width: -webkit-calc(100% - 320px);
        width: calc(100% - 320px);
        display: inline;
        /*border:1px solid blue;*/
        float: left;}
}
@media screen and (max-width: 1100px) {
    header,footer,.content {margin-left: auto;
                            margin-right: auto;
                            width: 100%;
                            /*border:4px solid brown;*/
                            margin: 0 auto;}
    .right {display: none; }
    .left {width:90%;   
           display: inline;
           /*border:4px solid red;*/
           overflow: scroll;}
}
nav{
    padding:4px 0;
}

.p_title {
    border-bottom: 1px dashed #ccc;
    font-size: 16px;
    font-weight: bold;
    padding: 0 .7em;
    margin: 10px;
    line-height: 40px;
    
} 

body{
    font:"Trebuchet MS", sans-serif;
    /*font-size: 12px;*/
}
.ui-icon{
    display: inline-block!important;
}
.hidden{
    display:none;       
}
.create_date{
    float: right;   
}
.trash,.refresh{
    float: right;
}
